<html>

<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="angularjs/getTest.js"></script>

<!--<h1 align="center">Coupon Recommender</h1>-->

<body ng-app="getTest" ng-controller="getTest">
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--<img-->
                <!--src="https://upload.wikimedia.org/wikipedia/commons/1/1b/EBay_logo.svg"-->
                <!--alt="LinkedIn" class="logo" height="50" width="64">-->


            </div>
            <h1 class="col-md-offset-4">Coupon Recommender</h1>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav navbar-center">-->
            <!--<h1 align="center">CoupoBuy</h1>-->
            <!--<li><a href="#">      </a></li>-->
            <!--<li><a></a></li>-->

            <!--<li><a></a></li>-->

            <!--</ul>-->

            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--&lt;!&ndash;<li><a href="/getProduct">View Products</a></li>&ndash;&gt;-->

            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a href="/view_Profile">View Profile</a></li>-->
            <!--<li><a href="/profile">Edit Profile</a></li>-->
            <!--<li><a href="/logout">logout</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <nav>
            <div class="col-md-2 col-md-4">
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="/show"><i class="fa fa-edit fa-fw"></i>Recommendation</a>
                            </li>
                            <li>
                                <a href="/train"><i class="fa fa-dashboard fa-fw"></i>Training Data</a>
                            </li>


                            <li>
                                <a href="/test"><i class="fa fa-edit fa-fw"></i>Testing Data</a>
                            </li>
                            <li>
                                <a href="/user"><i class="fa fa-edit fa-fw"></i>User Datasets</a>
                            </li>
                            <li>
                                <a href="/sell_history"><i class="fa fa-edit fa-fw"></i>Products</a>
                            </li>

                            <li>
                                <a href="/buy_history"><i class="fa fa-edit fa-fw"></i>Graphs</a>
                            </li>
                            <li>
                                <a href="/showcart"><i class="fa fa-edit fa-fw"></i>Refrences</a>
                            </li>


                            <li>
                                <a><h1>     </h1></a>
                            </li>
                            <li>
                                <a><h1>     </h1></a>
                            </li>
                            <li>
                                <a><h1>     </h1></a>
                            </li>
                            <li>
                                <a><h1>     </h1></a>
                            </li>
                        </ul>
                    </div></div></div></nav>
        <!-- /.navbar-static-side -->

        <div class="col-md-offset-2">
            <h2>Team Members:</h2>
            <h2>Meghana</h2>
            <h2> Prabhdeep</h2>
            <h2>Devanjal</h2>
            <h2>Prashanth</h2>
            <h2>Rohith</h2>
            <!--<h1 class="col-md-offset-4">BID Log</h1>-->
            <!--<table class="table" >-->
                <!--<tr class="row">-->



                    <!--<td>Genre</td>-->
                    <!--<td>Coupon_id</td>-->
                    <!--<td>Catalog Price</td>-->
                    <!--<td>Discount</td>-->
                    <!--<td>Validity</td>-->


                <!--</tr>-->
                <!--<tr class="row" ng-repeat="test in test">-->
                    <!--&lt;!&ndash;<td>{{test.id}}</td>&ndash;&gt;-->

                    <!--<td>{{test.GENRE_NAME}}</td>-->
                    <!--<td>{{test.COUPON_ID_hash}}</td>-->
                    <!--<td>{{test.CATALOG_PRICE}}</td>-->
                    <!--<td>{{test.DISCOUNT_PRICE}}</td>-->
                    <!--<td>{{test.DISPPERIOD}}</td>-->

                <!--</tr>-->

                <!--&lt;!&ndash;</table></div>&ndash;&gt;-->
            <!--</table>-->
        </div>
        <!-- /.sidebar-collapse -->
    </div></div>

</div>
</div>
</body>
</html>